# Direccion del contrato SonataNFT desplegado en zkSYS PoB Devnet
# Se obtiene tras: cd ../contracts && npm run deploy:devnet
CONTRACT_ADDRESS=

# Chain ID de la red (decimal y hexadecimal)
CHAIN_ID=57042
CHAIN_ID_HEX=0xDED2

# URL del nodo RPC
RPC_URL=https://rpc-pob.dev11.top

# URL del block explorer
EXPLORER_BASE_URL=https://explorer-pob.dev11.top

# URL del backend NestJS
API_URL=http://localhost:3000/api
