# Private key de la wallet que despliega
PRIVATE_KEY=

# URL del nodo RPC de la red destino
RPC_URL=https://rpc-pob.dev11.top

# Chain ID de la red destino
CHAIN_ID=57042

# URLs del block explorer (para verificacion de contratos)
EXPLORER_API_URL=https://explorer-pob.dev11.top/api
EXPLORER_BROWSER_URL=https://explorer-pob.dev11.top
